.navbar-expand-lg .navbar-nav .dropdown-menu {
    width: 300px;
    left: -50px;
}

.navBar-icon {
    display: block;
    margin: auto;
}

.navBar-icon-text {
    display: block;
    text-align: center;
    line-height: initial;
}